.container {
    max-width: 900px;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.objects {
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;

    flex-direction: row;
    gap: 1rem;
}

.header_text {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.viewcode {
    flex: 0 1 25%;
}

.access_buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.access_dotnotation {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.dotnotation_text {
    display: flex;
    flex: 0.87 1 25%;
    flex-direction: column;
    text-align: right;


}

.dotnotation_code {
    flex: 0 1 25%;

}

.add_properties {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.properties_text {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: right;
}

.properties_code {
    flex: 1 1 25%;

}