.container {
    max-width: 900px;
    margin: 0 auto;
}

.container h2 {
    margin-top: 2rem;
    padding-bottom: 0.5rem;
}

.container p {
    margin-bottom: 2rem;
    font-size: 1.05rem;
    color: #ffffff;
}

/* Sections */
.objects {
    margin-bottom: 3rem;
    border-bottom: 1px solid #eee1;
    padding-bottom: 1rem;
}

.arrays {
    margin-bottom: 3rem;
}

.block {
    margin-bottom: 2rem;
}

.block h3 {
    margin-bottom: 0.5rem;
}

.block p {
    margin-bottom: 0.5rem;
}

/* Specific Style Helpers */
.text_highlight {
    color: #ffd43b;
    /* Amarillo JS */
}

.text_muted {
    color: #888;
    font-size: 0.9em;
}