.HelloWorld-container {

    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
}

.HelloWorld-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    letter-spacing: -0.05em;
}

.HelloWorld-text {
    max-width: 600px;
    font-size: 1.1rem;
    color: var(--gray-10);
}