.hello-w {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hello-w-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0;
}

.block {
    max-width: 95%;
    display: flex;
    flex-direction: column;
}

.block-up,
.block-down {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-up img {
    width: auto;
    max-width: 100%;
}

.block-down h3 {
    font: var(--font-title);
    line-height: 1.1;
    margin-bottom: 1rem;
    text-align: center;
}

.step {
    font: var(--font-subtitle);
    margin-bottom: 0.5rem;
    text-align: center;
}

.description {
    font: var(--font-base);
    text-align: center;
    max-width: 800px;
}