
.flex-demo-container {
    display: flex;
    gap: 1rem;
    height: 150px;
}

.section-title {
    margin-bottom: 1rem;
}

.flex-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item-1 {
    flex: 1;
    background: #f9f9f9;
}

.flex-item-2 {
    flex: 2;
    background: #f4f4f4;
}
