.container {
    max-width: 900px;
    margin: 0 auto;
}

.container th { 
    text-align: left;

}



/* Variables & Types  */
.variables {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

}

.variables_header {
    display: flex;
    flex-direction: row;

}

.variables_info {

    width: 50%;
}

.variables_buttons {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.variables p {
    margin-bottom: 0.5rem;
}


.data_types {
    display: flex;
    flex-direction: row;

}

.data_types p {
    margin-bottom: 0.5rem;
}

.types_info,
.types_buttons {
    flex: 1;
}

.types_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.conditionals_header {
    display: flex;
    flex-direction: row;
}
.conditionals_info,
.conditionals_buttons {
    flex: 1;
}
.conditionals_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}







.value_absence {
    margin-bottom: 1rem;
}

.value_absence p {
    margin-bottom: 0.5rem;
}






.guard_pattern {
    margin-bottom: 1rem;
}

/* Helpers */
.text_danger {
    color: #ff6b6b;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.text_success {
    color: #51cf66;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}