* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Linea Guia */
  border: 1px solid red;
   

}
#root {
  max-width: 1280px;
  height: 100vh;
  background-color:gray;
  margin: 0 auto;
}

body {
  background: #000000;
  color: aliceblue;
  font-family: 'Poppins', sans-serif; 
}