.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: var(--gray-40);
    border-radius: 1.5rem;
}

.square.rectangle {
    width: 250px;
}